:root {
  --Primary-Color: #94cb66;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: var(--Text-Color);
}

/* Compras Mayores A... */
.ComprasMayorasA {
  height: 40px;
  width: 100vw;
  background-color: var(--Primary-Color);
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  z-index: 10;
}

/* Navbar Mobile */
.NavbarMobile {
  height: 70px;
  width: 100vw;
  background-color: white;
  position: fixed;
  left: 0;
  top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--Primary-Color);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.NavbarMobile div:nth-child(1) {
  padding: 0px 15px;
  cursor: pointer;
}

.NavbarMobile div:nth-child(3) {
  margin-right: 35px;
  position: relative;
}

.NavbarMobile div:nth-child(3) span {
  height: 18px;
  width: 18px;
  position: absolute;
  bottom: 0;
  right: -5px;
  background-color: var(--Primary-Color);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

/* Navbar Desktop */
.NavbarDesktop {
  height: 70px;
  width: 100vw;
  background-color: white;
  position: fixed;
  left: 0;
  top: 40px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--Primary-Color);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

/* Dropdown Button */
.NavbarDesktop .dropbtn {
  background-color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0px 50px;
  color: black;
}

/* The container <div> - needed to position the dropdown content */
.NavbarDesktop .dropdownShop {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.NavbarDesktop .dropdown-content {
  height: 400px;
  width: 100vw;
  display: none;
  position: absolute;
  top: 50px;
  left: 0px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.NavbarDesktop .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.NavbarDesktop .dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.NavbarDesktop .dropdownShop:hover .dropdown-content {
  display: block;
  left: 0;
}

/* Menu Products Desktop */
.MenuProductsDesktop {
  height: 400px;
  width: 100vw;
  background-color: whitesmoke;
  position: fixed;
  top: 113px;
  left: 0;
}

/* Menu Slider */
.Menu {
  height: calc(100vh - 125px);
  width: 100vw;
  max-width: 400px;
  position: absolute;
  top: 102px;
  background: white;
  border-right: 1px solid #33333333;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.Menu.open {
  transform: translateX(0%);
}

.Menu .Search {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #e0e0e0;
  padding-top: 15px;
  position: relative;
}

.Menu .Search img {
  position: absolute;
  right: 11%;
  color: red;
}

.Menu .Search input {
  height: 40px;
  width: 85%;
  border-radius: 50px;
  text-indent: 20px;
  border: 1px solid #00000018;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.Menu .Search input:focus {
  outline: none;
}

.Menu .Shop {
  height: 60px;
  padding: 0px 20px;
  border-bottom: 2px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.Menu .Shop i {
  font-size: 30px;
  transition: transform 0.3s;
}

.Menu .Shop i.open {
  transform: rotate(135deg);
}

.Menu .ContentShop {
  height: 0px;
  padding: 0px 20px;
  overflow: hidden;
  transition: height 0.5s;
}

.Menu .ContentShop.open {
  height: auto;
  padding: 0px 20px;
}

.Menu .ContentShop h6 {
  font-size: 14px;
  margin: 15px 0px;
}

.Menu .ContentShop ul {
  list-style: none;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.Menu .ContentShop ul li {
  padding: 5px 0px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.Menu .ContentShop ul li a {
  font-size: 12px;
  margin-left: 10px;
  text-decoration: none;
  color: #333333;
}

.Menu .Products {
  height: 60px;
  padding: 0px 20px;
  border-bottom: 2px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.Menu .Products i {
  font-size: 30px;
  transition: transform 0.3s;
}

.Menu .Learn {
  height: 60px;
  padding: 0px 20px;
  border-bottom: 2px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.Menu .Learn i {
  font-size: 30px;
  transition: transform 0.3s;
}

.Menu .Learn i.open {
  transform: rotate(135deg);
}

.Menu .ContentLearn {
  height: 0px;
  padding: 0px 20px;
  overflow: hidden;
  transition: height 0.5s;
}

.Menu .ContentLearn.open {
  height: auto;
  padding: 0px 20px;
}

.Menu .ContentLearn ul {
  list-style: none;
  padding: 10px 0px;
  display: grid;
  grid-template-rows: 50px 50px 50px;
  row-gap: 10px;
}

.Menu .ContentLearn ul li {
  padding: 5px 0px;
  display: flex;
  align-items: center;
}

.Menu .ContentLearn ul li a {
  margin-left: 10px;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
}

.Menu .SignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Menu .SignIn .SignIn-Item {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.Menu .SignIn a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.Menu .SignIn a:hover {
  color: var(--Primary-Color);
}

/* Hamburguer Icon */
.IconHamburguer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.IconHamburguer .IconHamburguer-Bar {
  height: 2px;
  width: 90%;
  border-radius: 20px;
  background: #333333;
  margin: 3px 0px;
  transition: transform 0.5s, margin 0.5s;
}

.IconHamburguer.open .IconHamburguer-Bar {
  margin: -1px 0px;
}

.IconHamburguer.open .IconHamburguer-Bar:nth-child(1) {
  transform: rotateZ(45deg);
}

.IconHamburguer.open .IconHamburguer-Bar:nth-child(2) {
  opacity: 0;
}

.IconHamburguer.open .IconHamburguer-Bar:nth-child(3) {
  transform: rotateZ(-45deg);
}

@media (min-width: 0px) and (max-width: 1200px) {
  .NavbarDesktop {
    display: none;
  }
}

@media (min-width: 1200px) {
  .NavbarMobile {
    display: none;
  }

  .Menu {
    display: none;
  }
}
